*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow-x: hidden;
}
/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 4px;
    box-shadow: 0 0 10px 2px #4b01ac ;
}
::-webkit-scrollbar-thumb {
    background: #4b01ac ;
    border-radius: 12px;
    transition: all 0.3s ease;
}
.title-container{
    color: white;
    margin: 70px 0;
    text-align: center;
}
.title-container > h1{
    font-size: 36px;
    margin-bottom: 40px;
}
.title-container > p{
    font-size: 24px;
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    width: 25%;
    height: 300px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 90px 30px;
}
div:last-of-type{
    margin-right: 180px;
}
a {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 200ms ease-out, box-shadow 150ms ease-out, transform 200ms ease-out;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor;
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid currentcolor;
    margin: 170px 0;
    width: 20%;
    text-align: center;
    text-shadow: 2px 2px 2px #1ab206;
    height: 50px;
    border-radius: 20px;
  }
a:hover, a:focus {
    color: white;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor, -6px 6px currentcolor, -7px 7px currentcolor, -8px 8px currentcolor;
    transform: translatey(-8px);
  }
a:active {
    box-shadow: -1px 1px 0 0 currentcolor;
    transform: translatey(0px);
  }

  /*EFFECT FADE IN SECTION*/
.fadeInRight {
    -webkit-animation: fadeInRight .5s ease .4s both;
    -moz-animation: fadeInRight .5s ease .4s both;
    -ms-animation: fadeInRight .5s ease .4s both;
    -o-animation: fadeInRight .5s ease .4s both;
    animation: fadeInRight .5s ease .4s both;
  }
  @media (prefers-reduced-motion) {
    .fadeInRight .animated {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  
  .fadeInLeft {
    -webkit-animation: fadeInLeft .5s ease .4s both;
    -moz-animation: fadeInLeft .5s ease .4s both;
    -ms-animation: fadeInLeft .5s ease .4s both;
    -o-animation: fadeInLeft .5s ease .4s both;
    animation: fadeInLeft .5s ease .4s both;
  }
  @media (prefers-reduced-motion) {
    .fadeInLeft .animated {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-o-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-o-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
